
@import "../../../bower_components/bootstrap/less/bootstrap.less";
@import "../../../bower_components/bootstrap-datepicker/less/datepicker3.less";

@import "variables.less";

#main-content {
  padding-top: 70px;
}

.bottom-5 {
  margin-bottom: 5px;
}

.bottom-10 {
  margin-bottom: 10px;
}

.bottom-20 {
  margin-bottom: 20px;
}

.bottom-40 {
  margin-bottom: 40px;
}

.top-10 {
  margin-top: 10px;
}

.top-20 {
  margin-top: 20px;
}

hr {
  border-top: 1px solid @gray-light;
}

.form-group {
  margin-bottom: 30px;
}





/*
 *  Apply .dl-horizontal to print media
 */
@media print {
  
  .dl-horizontal {
    
    dt {
      float: left;
      width: 160px;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    
    dd {
      margin-left: 180px;
    }
    
    dd:before,
    dd:after {
      display: table;
      content: " ";
    }
    
    dd:after {
      clear: both;
    }
    
    dd:before,
    dd:after {
      display: table;
      content: " ";
    }
    
    dd:after {
      clear: both;
    }
    
    page-break-inside: avoid;
  }
  
}