
@import "../../../bower_components/bootstrap/less/bootstrap.less";
@import "../../../bower_components/bootstrap-datepicker/less/datepicker3.less";

@import "variables.less";

#main-content {
  padding-top: 70px;
}

.bottom-5 {
  margin-bottom: 5px;
}

.bottom-40 {
  margin-bottom: 40px;
}

.top-10 {
  margin-top: 10px;
}

.top-20 {
  margin-top: 20px;
}