@import 'base.less'; 

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

//styles specific for the frontend 

.page-header {

  border: 0;

  .jumbotron {
    p {
      font-size: 1.3em;
    }
  }

  .panel {
    .box-shadow(0 0px 0px rgba(0,0,0,.05));
  }
}

.pricing {

  .panel-heading {
    p {
      font-size: 3em;
      font-weight: bold;
    }
  }

  .list-group-item {
    font-weight: bold;
  }
  
}

