@import 'base.less'; 

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

//styles specific for the frontend 

.page-header {

  border: 0;

  .jumbotron {
    p {
      font-size: 1.3em;
    }
  }

  .panel {
    .box-shadow(0 0px 0px rgba(0,0,0,.05));
  }
}

.pricing {

  .panel-heading {
    p {
      font-size: 3em;
      font-weight: bold;
    }
  }

  .list-group-item {
    font-weight: bold;
  }
  
}

#inner-content {
  .order-summary {
    h3 {
      border-bottom: solid 1px gray;
    }
    .dl-horizontal {
      span.name {
        margin-top:    20px;
        margin-bottom:  5px;
      }
      span.price {
        font-family: monospace;
        white-space: pre;
      }
    }
  }
}

#sidebar {
  .order-summary {
    table.pricing {
      
      tr:last-child {
        border-top: double gray;
      }

      tr td:last-child {
        padding-left: 10px;
        font-family: monospace;
        white-space: pre;
      }
    }
  }
}
